{% extends 'layout/website_base.html'%}
{% block content %}
<div class="container mt-5">
        <form id="changePasswordForm">
          <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                    />
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="oldPassword" class="form-label">Old Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="oldPassword"
                      name="old_password"
                    />
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="newPassword" name="new_password"/>
                  </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Email address</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirm_password" />
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <a
                class="btn btn-dark"
                onclick="handleChangePassword('{{email}}','{{token}}')"
                >Save</a
              >
            </div>
          </div>
        </form>
</div>

{% endblock %}