{% extends 'layout/main_base.html'%}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-around flex-wrap">
        {% for product in products %}
        <div class="card mb-3" style="width: 15rem; height: auto">
            {% if product.images|length %}
            <img class="card-img-top" src="{{product.images[0].img_url}}" alt="{{product.name}}">
            {% else %}
            <img class="card-img-top" src="/static/assets/no_image.jpeg" alt="{{product.name}}" height="297px">
            {% endif %}

            <div class="card-body">
                <h5 class="card-title text-truncate">{{product.name}}</h5>
                <p class="card-text text-truncate">{{product.description}}</p>
                <a href="/products/{{product._id}}" class="btn btn-dark float-end">Detail</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Change Password Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="changePasswordForm">
                <div class="row">
                  <div class="col">
                      <div class="mb-3">
                          <label for="email" class="form-label">Email</label>
                          <input
                            type="email"
                            class="form-control"
                            id="email"
                            name="email"
                          />
                        </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                        <label for="oldPassword" class="form-label">Old Password</label>
                        <input
                          type="password"
                          class="form-control"
                          id="oldPassword"
                          name="old_password"
                        />
                      </div>
                </div>
                </div>
                <div class="row">
                  <div class="col">
                      <div class="mb-3">
                          <label for="newPassword" class="form-label">New Password</label>
                          <input type="password" class="form-control" id="newPassword" name="new_password"/>
                        </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                      <div class="mb-3">
                          <label for="confirmPassword" class="form-label">Confirm Password</label>
                          <input type="password" class="form-control" id="confirmPassword" name="confirm_password" />
                      </div>
                  </div>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-dark" onclick="handleChangePassword('{{token}}')">Save</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    const handleChangePassword = async (token) => {
      const form = document.getElementById("changePasswordForm");
      const formData = new FormData(form);
      const formDataObj = Object.fromEntries(formData);
      const {detail, success} = await patchMethod(
        "/api/auth/change-password",
        formDataObj,
        token
      );
      showToast(detail, success, "/");
    };
  </script>
{% endblock %}