{% extends 'layout/main_base.html'%}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-around flex-wrap">
        {% for product in products %}
        <div class="card mb-3" style="width: 15rem; height: auto">

            <img class="card-img-top" src="{{product.images[0].img_url}}" alt="Product Image">

            <div class="card-body">
                <h5 class="card-title text-truncate">{{product.name}}</h5>
                <p class="card-text text-truncate">{{product.description}}</p>
                <a href="/products/{{product._id}}" class="btn btn-dark float-end">Detail</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>

{% endblock %}