{% extends 'layout/website_base.html'%} {% block content %}
<div class="container">
  <div class="row p-3">
    <div class="col-6">
      <div
        id="carouselExample"
        class="carousel slide w-75 mx-auto img-thumbnail"
      >
        <div class="carousel-inner">
          {% if product.images|length %}
            {% for image in product.images%}
              <div class="carousel-item">
                <img src="{{image.img_url}}" class="d-block w-100" alt="..." />
              </div>
            {% endfor %}
          {% else %}
            <div class="carousel-item">
              <img src="/static/assets/no_image.jpeg" class="d-block w-100" alt="..." />
            </div>
          {% endif %}
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-6 p-3">
      <p>{{categories}}</p>
      <h2>{{product.name}}</h2>
      <p>{{product.description}}</p>
      <h5>{{product.price}} Ks</h5>
      {% if token %}
      <a
        class="btn btn-dark mt-3"
        onclick="handleAddToCart('{{product._id}}', '{{token}}')"
        >Add to Cart</a
      >
      {% else %}
      <a class="btn btn-dark mt-3" onclick="handleAddToCart('{{product._id}}')"
        >Add to Cart</a
      >
      {% endif %}
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const firstItem = document.querySelectorAll(".carousel-item")[0];
    firstItem.classList.add("active");
  });
  const handleAddToCart = async (product_id, token = null) => {
    if (!token) {
      Swal.fire({
        title: "Please Log In",
        text: "To add items to your cart, please log in or create an account.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Log In / Sign Up",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = '/login'
        }
      });
    } else{
      const payload = {
        product_id,
        qty: 1
      }
      const {detail, success} = await postMethod('/api/cart', payload, token)
      showToast(detail, success, '/cart')
    }
    
  };
</script>
{% endblock %}
