{% extends 'layout/dashboard_base.html' %}
{% block content %}

<div class="p-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Categories</h1>
        <a class="btn btn-outline-dark" href="/dashboard/categories/create">Create</a>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Parent Category</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                  {% if category.parent_category.name %}
                    <td>{{category.parent_category.name}}</td>
                  {% else %}
                    <td>No Parent Category</td>
                  {% endif %}
                <td>
                    <a href="/dashboard/categories/{{category._id}}" class="btn btn-sm btn-warning">Edit</a>
                    <a onclick="handleDeleteCategory('{{category._id}}', '{{token}}')" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    const handleDeleteCategory = async (id, token) => {
        const {detail, success} = await deleteMethod(`/api/categories/${id}`, token)
        const toast = document.getElementById('toast')
        const toastBody = document.getElementById('toast-body')
        toastBody.innerHTML = detail
        if(success){
            toast.classList.add('text-bg-success', 'show')
            window.location.reload()
        }else{
            toast.classList.add('text-bg-danger', 'show')
        }
    }
</script>

{% endblock content %}