{% extends 'layout/dashboard_base.html' %} {% block content %}
<div class="p-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Checkouts</h1>
  </div>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Email</th>
        <th>Total Price</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for checkout in checkouts %}
      <tr>
        <td>{{checkout._id}}</td>
        <td>{{checkout.user.email}}</td>
        <td>{{checkout.total}}</td>
        <td>
          <a href="/dashboard/checkouts/{{checkout._id}}" class="btn btn-sm btn-success">Detail</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example" class="float-end">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" type="button" onclick="previousPage('checkouts', '{{pages}}')" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for page in range(pages) %}
      <li class="page-item" id="{{page+1}}"><a class="page-link"
          href="/dashboard/checkouts?page={{page+1}}">{{page+1}}</a></li>
      {% endfor %}
      <li class="page-item">
        <a class="page-link" type="button" onclick="nextPage('checkouts','{{pages}}')" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

{% endblock content %}