{% extends 'layout/dashboard_base.html' %} {% block content %}
<div class="p-3">
  <div class="mb-3">
    <h1>Update Product</h1>
  </div>
  <hr />
  <div>
    <form id="updateProductForm">
      <div class="row mb-3">
        <div class="col">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
              placeholder="Product Name"
              value="{{product.name}}"
            />
            <label for="name">Name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <select
              class="form-select"
              id="category"
              aria-label="Floating label select example"
              name="category"
            >
              {% for category in categories %} {% if category._id ==
              product.category._id %}
              <option value="{{category._id}}" selected>
                {{category.name}}
              </option>
              {% else %}
              <option value="{{category._id}}">{{category.name}}</option>
              {% endif %} {% endfor %}
            </select>
            <label for="category">Category</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Write a description"
              id="description"
              style="height: 150px"
              name="description"
              required
            >
{{product.description}}</textarea
            >
            <label for="description">Description</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              id="item"
              name="item"
              placeholder="Stock"
              required
              value="{{product.item}}"
            />
            <label for="name">Item</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              id="price"
              name="price"
              placeholder="Price"
              value="{{product.price}}"
              required
            />
            <label for="price">Price</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="form-floating">
            <select
              class="form-select"
              multiple
              id="images"
              aria-label="Floating label select example"
              name="images"
              style="height: 150px"
            >
              {% for image in images %}
                {% if image._id in image_ids %}
                    <option value="{{image._id}}" selected>{{image.name}}</option>
                {% else %}
                    <option value="{{image._id}}">{{image.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
            <label for="images">Images</label>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <div class="form-check">
            {% if product.feature_product %}
            <input
              class="form-check-input"
              type="checkbox"
              name="feature_product"
              id="flexCheckChecked"
              checked
            />
            {% else %}
            <input
              class="form-check-input"
              type="checkbox"
              name="feature_product"
              id="flexCheckChecked"
            />
            {% endif %}
            <label class="form-check-label" for="flexCheckChecked">
              Feature Product
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a
            onclick="handleUpdateProduct('{{product._id}}', '{{token}}')"
            class="btn btn-dark"
            >Update</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  const handleUpdateProduct = async (id, token) => {
    const form = document.getElementById('updateProductForm')
    const formData = new FormData(form)
    const formDataObj = Object.fromEntries(formData)
    const selectedOptions = document.querySelectorAll('#images :checked');
    const selectedImages = [...selectedOptions].map((option) => option.value)
    formDataObj.images = selectedImages
    const {detail, success} = await putMethod(`/api/products/${id}`,formDataObj, token);
    showToast(detail, success, '/dashboard/products')
  };
</script>

{% endblock %}
