{% extends 'layout/dashboard_base.html' %} {% block content %}

<div class="p-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Products</h1>
    <button
      type="button"
      class="btn btn-outline-dark"
      data-bs-toggle="modal"
      data-bs-target="#createProductModal"
    >
      Create
    </button>
  </div>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Item</th>
        <th scope="col">Feature Product</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.category.name}}</td>
        <td>{{ product.item}}</td>
        <td>{{ product.feature_product}}</td>
        <td>{{ product.price}}</td>
        <td>
          <a
            href="/dashboard/products/{{product._id}}"
            class="btn btn-sm btn-warning"
            >Edit</a
          >
          <button
            onclick="handleDeleteProduct('{{product._id}}', '{{token}}')"
            class="btn btn-sm btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Modal -->
  <div
    class="modal fade"
    id="createProductModal"
    tabindex="-1"
    aria-labelledby="createProductModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <form id="createProductForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createProductModalLabel">
              Create New Product
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row mb-3">
              <div class="col">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    required
                    placeholder="Product Name"
                  />
                  <label for="name">Name</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="category"
                    aria-label="Floating label select example"
                    name="category"
                  >
                    {% for category in categories %}
                    <option value="{{category._id}}">{{category.name}}</option>
                    {% endfor %}
                  </select>
                  <label for="category">Category</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Write a description"
                    id="description"
                    style="height: 100px"
                    name="description"
                    required
                  ></textarea>
                  <label for="description">Description</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-floating">
                  <input
                    type="number"
                    class="form-control"
                    id="item"
                    name="item"
                    placeholder="Stock"
                    required
                    value="0"
                  />
                  <label for="name">Item</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating">
                  <input
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    placeholder="Price"
                    value="0"
                    required
                  />
                  <label for="price">Price</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col d-flex justify-content-start flex-wrap gap-3 overflow-auto pt-1" style="max-height: 300px;">
                {% for img in images %}
                    {% if 'product' in img.img_url %}
                      <img
                        width="100"
                        src="{{img.img_url}}"
                        class="img-fluid img-thumbnail"
                        alt="{{img.name}}"
                        role="button"
                        id="{{img._id}}"
                        onclick="handleImageSelect('{{img._id}}')"
                      />    
                    {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="feature_product"
                    id="flexCheckChecked"
                    checked
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Feature Product
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <a onclick="handleCreateProduct('{{token}}')" class="btn btn-dark"
              >Create</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  let images = []

  const handleImageSelect = (id) => {
    const selectedImage = document.getElementById(id)
    if(images.includes(id)){
      selectedImage.classList.remove('selected')
      images = images.filter(img => img != id)
    }else{
      selectedImage.classList.add('selected')
      images.push(id)
    }
  }
  const handleDeleteProduct = (id, token) => {
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Confirm",
    }).then((result) => {
      if (result.isConfirmed) {
        (async () => {
          const { detail, success } = await deleteMethod(
            `/api/products/${id}`,
            token
          );
          showToast(detail, success);
        })();
      }
    });
  };
  const handleCreateProduct = async (token) => {
    const form = document.getElementById("createProductForm");
    const formData = new FormData(form);
    const formDataObj = Object.fromEntries(formData);
    if(images.length) formDataObj.images = images
    const selectedOptions = document.querySelectorAll("#images :checked");
    const selectedImages = [...selectedOptions].map((option) => option.value);
    formDataObj.images = selectedImages;
    const { detail, success } = await postMethod(
      `/api/products`,
      formDataObj,
      token
    );
    showToast(detail, success);
  };
</script>
{% endblock content %}
