<div class="d-flex flex-column p-3 text-white bg-dark h-100">
  <a href="/dashboard" class="mb-3 mb-md-0 me-md-auto text-decoration-none text-white fs-2 w-100 text-center">
    Cartopia
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/dashboard/checkouts" class="nav-link text-white">Checkouts</a>
    </li>
    <li class="nav-item">
      <a href="/dashboard/categories" class="nav-link text-white">Categories</a>
    </li>
    <li class="nav-item">
      <a href="/dashboard/products" class="nav-link text-white">Products</a>
    </li>
    <li class="nav-item">
      <a href="/dashboard/images" class="nav-link text-white">Images</a>
    </li>
    <li class="nav-item">
      <a href="/dashboard/users" class="nav-link text-white">Users</a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownSidebar" data-bs-toggle="dropdown" aria-expanded="false">
      <strong>{{username}}</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownSidebar">
      <li><a class="dropdown-item" href="/dashboard/change-password">Change Password</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="" onclick="handleLogout('{{token}}')">Sign out</a></li>
    </ul>
  </div>
</div>
<style>
  .active {
    background-color: #f8f9fa !important;
    color: #000000 !important;
  }
</style>
<script>
  $(document).ready(()=>{
    const path = window.location.pathname
    const navLinks = $(".nav-link")
    navLinks.each((index, element) => {
      if(path.includes($(element).attr('href'))){
        $(element).addClass('active')
      }
    })
  })
  const handleLogout = async (token) => {
    const response = await fetch('/api/auth/logout', {
      method: "POST",
      headers: {
        'Authorization': `Bearer ${token}`
      }
    });
    const {detail, success} = await response.json();
    showToast(detail, success, '/login')
  }
</script>