<div class="d-flex flex-column p-3 text-white bg-dark h-100">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none text-white">
    <span class="fs-2">Cartopia</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/dashboard/" class="nav-link text-white">Dashboard</a>
    </li>
    <li class="nav-item">
      <a href="/dashboard/categories" class="nav-link text-white">Categories</a>
    </li>
    <li class="nav-item">
      <a href="/dashboard/products" class="nav-link text-white">Products</a>
    </li>
    <li class="nav-item">
      <a href="/dashboard/images" class="nav-link text-white">Images</a>
    </li>
  </ul>
  <hr />
  <div>
    <form action="/api/auth/logout" method="post">
      <input type="hidden" name="token" value="{{token}}">
      <button class="btn btn-danger w-100 fw-bold" type="submit">Log out</button>
    </form>
  </div>
</div>
<style>
  .active {
    background-color: #f8f9fa !important;
    color: #000000 !important;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const path = window.location.pathname
    const navLinks = document.querySelectorAll('.nav-link')
    navLinks.forEach((navLink) => {
      if (navLink.getAttribute('href') === path) {
        navLink.classList.add('active')
      }
    })
  })
</script>