{% extends 'layout/dashboard_base.html' %} {% block content %}

<div class="p-3">
  <div class="mb-3">
    <h1>Users</h1>
    <div class="d-flex justify-content-between">
      <div class="input-group me-3 w-25">
        <input id="searchUsername" class="form-control search" placeholder="Search..." aria-label="Search" aria-describedby="searchUsername" autocomplete="additional-name">
        <a class="btn btn-outline-dark" type="button" onclick="handleSearch('searchUsername', 'users')"><i class="bi bi-search"></i></a>
        <a class="btn btn-outline-dark" type="button" onclick="handleSearchBoxClear('users')"><i class="bi bi-x"></i></a>
      </div>
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#createUserModal">
        Create
      </button>
    </div>
  </div>
  <hr />
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Admin</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.is_admin }}</td>
        <td><a href="/dashboard/users/{{user._id}}" class="btn btn-warning">Edit</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form id="createUserForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createUserModalLabel">
              Create New User
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row mb-3">
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control" id="username" name="username" required
                    placeholder="Username" />
                  <label for="username">Username</label>
                </div>
              </div>

            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-floating">
                  <input type="text" class="form-control" id="email" name="email" required placeholder="Email" />
                  <label for="email">Email</label>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-floating">
                  <input type="password" class="form-control" id="password" name="password" required
                    placeholder="Password" />
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating">
                  <input type="password" class="form-control" id="confirmPassword" name="confirm_password" required
                    placeholder="Confirm Password" />
                  <label for="confirmPassword">Confirm Password</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="isAdminSwitch" name="is_admin">
                  <label class="form-check-label" for="isAdminSwitch">Admin</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <a onclick="handleCreateUser('{{token}}')" class="btn btn-dark">Create</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <nav aria-label="Page navigation example" class="float-end">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" type="button" onclick="previousPage('users', '{{pages}}')" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for page in range(pages) %}
        <li class="page-item" id="{{page+1}}"><a class="page-link" type="button" onclick="customPage('users', '{{page + 1}}')">{{page+1}}</a></li>
      {% endfor %}
      <li class="page-item">
        <a class="page-link" type="button" onclick="nextPage('users','{{pages}}')" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<script>
  document.addEventListener("DOMContentLoaded", ()=>{
    const urlParams = new URLSearchParams(window.location.search);
    const query = urlParams.get('q');
    if (query){
      document.getElementById('searchUsername').value = query
    }
  })
  const handleCreateUser = async (token) => {
    const form = document.getElementById('createUserForm')
    const formData = new FormData(form)
    const formDataObj = Object.fromEntries(formData)
    if (formDataObj.is_admin) formDataObj.is_admin = true
    const response = await fetch('/api/auth/register', {
      method: 'POST',
      headers: {
        Authorization: `Bearer ${token}`,
        "Content-type": 'application/json'
      },
      body: JSON.stringify(formDataObj)
    })
    const { detail, success } = await response.json()
    showToast(detail, success)
  }
</script>
{% endblock content %}