{% extends 'layout/auth_base.html' %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="w-50 mx-auto p-5 shadow-lg">
    <h1 class="page-header text-center mb-5">Cartopia</h1>
    <form id="loginForm">
      <div class="mb-3">
        <label for="email" class="form-label fw-bold">Email address</label>
        <input type="email" class="form-control" id="email" name="email" />
        <div id="email-error" class="invalid-feedback"></div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label fw-bold">Password</label>
        <input type="password" class="form-control" id="password" name="password" />
        <div id="password-error" class="invalid-feedback"></div>
      </div>
      <div class="mb-3 d-flex justify-content-end align-items-center">
        <a class="btn btn-dark w-25 fw-bold" onclick="handleLogin()">
          Login
        </a>
      </div>
    </form>
    <p class="text-center fw-bold">Don't you have an account</p>
    <div class="d-flex justify-content-center">
      <a href="/register" class="btn btn-outline-dark fw-bold">Sign up to Cartopia</a>
    </div>
  </div>
</div>
</div>
<script>
  const handleLogin = async () => {
    const form = $('#loginForm')
    const formData = new FormData(form[0])
    const formDataObj = Object.fromEntries(formData)
    const response = await fetch('/api/auth/login', {
      method: "POST",
      headers: {
        "Content-type": "application/json",
      },
      body: JSON.stringify(formDataObj),
    });
    const {detail, success, url} = await response.json();
    showToast(detail, success, url)
  }
</script>
{% endblock content %}