{% extends 'layout/auth_base.html' %}
{% block content %}
<div class="row mt-5">
  <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4 mx-auto p-5">
    <p class="display-2 text-center fw-bold">Log In</p>
    <p class="fs-5 text-center">Don't have an account? <a href="/register">Sign up</a></p>
    <form id="loginForm" class="mt-5">
      <div class="mb-3 form-floating">
        <input type="email" class="form-control" id="floatingEmail" placeholder="Your Email Address" name="email" />
        <label for="floatingEmail">Email address</label>
      </div>
      <div class="mb-3 form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Your Password" name="password" />
        <label for="floatingPassword">Password</label>
      </div>
      <div class="mb-3 d-flex justify-content-end align-items-center">
        <a class="btn btn-outline-primary w-25" onclick="handleLogin()">
          Login
        </a>
      </div>
    </form>
  </div>
</div>

<script>
  const handleLogin = async () => {
    const form = $('#loginForm')
    const formData = new FormData(form[0])
    const formDataObj = Object.fromEntries(formData)
    const response = await fetch('/api/auth/login', {
      method: "POST",
      headers: {
        "Content-type": "application/json",
      },
      body: JSON.stringify(formDataObj),
    });
    const {detail, success, url} = await response.json();
    showToast(detail, success, url)
  }
</script>
{% endblock content %}