<script>
  document.addEventListener('DOMContentLoaded', () => {
    const path = window.location.pathname
    const cartBtn = document.getElementById('cart')
    if(cartBtn.getAttribute("href") === path){
      cartBtn.classList.add('d-none')
    }else{
      cartBtn.classList.remove('d-none')
    }
  })

</script>

<nav class="navbar navbar-success bg-light vh-10 p-3">
  <div class="container">
    <a class="navbar-brand" href="/">Cartopia</a>
    <div class="d-flex align-items-center">
      <a type="button" id="cart" class="btn btn-light position-relative me-3" href="/cart">
        <i class="bi bi-bag"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{total_qty}}
          </span>
      </a>
      {% if token %}
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownSidebar" data-bs-toggle="dropdown" aria-expanded="false">
          <strong>{{username}}</strong>
        </a>
        
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownSidebar">
          <li><button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
            Change Password
          </button></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="" onclick="handleLogout('{{token}}')">Sign out</a></li>
        </ul>
      </div>
      {% else %}
      <a type="button" id="cart" class="btn btn-light me-3" href="/register">
        Sign Up
      </a>
      <a type="button" id="cart" class="btn btn-light me-3" href="/login">
        Log In
      </a>
      {% endif %}
    </div>
  </div>
</nav>
<script>
  const handleLogout = async (token) => {
    const response = await fetch('/api/auth/logout', {
      method: "POST",
      headers: {
        'Authorization': `Bearer ${token}`
      }
    });
    const {detail, success} = await response.json();
    showToast(detail, success, '/login')
  }
</script>