{% extends 'layout/auth_base.html' %} {% block content %}

<div class="row mt-5">
  <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4 mx-auto p-5">
    <p class="display-2 text-center fw-bold">Sign Up</p>
    <p class="fs-5 text-center">Already have an account? <a href="/login">Log in</a></p>
    <form id="registerForm" class="mt-5">
      <div class="mb-3 form-floating">
        <input type="text" class="form-control" id="floatingUsername" name="username"  placeholder="Your Username"/>
        <label for="floatingUsername">Username</label>
      </div>
      <div class="mb-3 form-floating">
        <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="Your Email" />
        <label for="floatingEmail">Email address</label>
      </div>
      <div class="mb-3 form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Your Password"/>
        <label for="floatingPassword">Password</label>
      </div>
      <div class="mb-3 form-floating">
        <input type="password" class="form-control" id="floatingConfirmPassword" name="confirm_password" placeholder="Your Confirm Password"/>
        <label for="floatingConfirmPassword">Confirm Password</label>
      </div>
      <div class="mb-3 d-flex justify-content-end align-items-center">
        <a class="btn btn-outline-primary w-25" onclick="handleRegister()">
          Register
        </a>
      </div>
    </form>
  </div>
</div>
<script>
  const handleRegister = async () => {
    const form = $('#registerForm')
    const formData = new FormData(form[0])
    const formDataObj = Object.fromEntries(formData)
    const response = await fetch('/api/auth/register', {
      method: "POST",
      headers: {
        'Content-type': 'application/json'
      },
      body: JSON.stringify(formDataObj)
    })
    const {detail, success } = await response.json()
    showToast(detail, success, '/')
  }
</script>

{% endblock content %}
