{% extends 'layout/auth_base.html' %} {% block content %}

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="w-50 mx-auto p-5 shadow-lg">
    <h1 class="page-header text-center mb-5">Cartopia</h1>
    <form id="registerForm">
      <div class="mb-3">
        <label for="username" class="form-label fw-bold">Username</label>
        <input type="username" class="form-control" id="username" name="username" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label fw-bold">Email address</label>
        <input type="email" class="form-control" id="email" name="email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label fw-bold">Password</label>
        <input type="password" class="form-control" id="password" name="password"/>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label fw-bold"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirm_password"
        />
      </div>
      <div class="mb-3 d-flex justify-content-between align-items-center">
        <p>
          Already have an account?
          <a href="/login">Log in</a>
        </p>
        <a onclick="handleRegister()" class="btn btn-dark w-25 fw-bold">
          Register
        </a>
      </div>
    </form>
  </div>
</div>
<script>
  const handleRegister = async () => {
    const form = $('#registerForm')
    const formData = new FormData(form[0])
    const formDataObj = Object.fromEntries(formData)
    const response = await fetch('/api/auth/register', {
      method: "POST",
      headers: {
        'Content-type': 'application/json'
      },
      body: JSON.stringify(formDataObj)
    })
    const {detail, success } = await response.json()
    showToast(detail, success, '/')
  }
</script>

{% endblock content %}
