{% extends 'dashboard_base.html' %} 
{% block content %}

<p>This is home</p>
<btn class="btn btn-danger" id="logoutBtn">Logout</btn>
<script>
  document.getElementById("logoutBtn").addEventListener("click", async () => {
  try {
    const response = await fetch("/api/auth/logout", {
      method:"GET",
      headers: {
        Authorization: `Bearer ${token}`
      }
    })
    const {detail} = await response.json()
    localStorage.clear()
    window.location.href = '/login'
  } catch (error) {
    console.log("Error:", error)
  }
});
</script>
{% endblock content %}
