{% extends 'main_base.html'%}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-around">
        {% for product in products %}
        <div class="card" style="width: 18rem">
            <img class="card-img-top" src="{{product.images[0].img_url}}" alt="Product Image" />
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <a href="/products/{{product._id}}" class="btn btn-dark float-end">Detail</a>
                <!-- <a href="#" class="btn btn-dark" onclick="handleAddToCart('{{product._id}}')">Add to Cart</a> -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
<script>
    const handleAddToCart = async (product_id) => {
        try {
            const response = await fetch("/api/cart/", {
                method: "POST",
                headers: {
                    "Content-type": "application/json",
                    Authorization: `Bearer ${token}`,
                },
                body: JSON.stringify({
                    product_id: product_id,
                    qty: 1,
                }),
            });
            const {detail, success} = await response.json();
            const toast = document.getElementById('toast')
            const toastMessage = document.getElementById('toast-message')
            if(success){
                window.location.reload()
            }else{
                toast.classList.add('show')
                toastMessage.innerHTML = detail
                setTimeout(function() {
                    toast.classList.remove('show');
                    toastMessage.innerHTML = ''
                }, 5000);
            }
        } catch (error) {
            console.log(error);
        }
    };
</script>

{% endblock %}