<script>
  document.addEventListener('DOMContentLoaded', () => {
    const path = window.location.pathname
    const cartBtn = document.getElementById('cart')
    if(cartBtn.getAttribute("href") === path){
      cartBtn.classList.add('d-none')
    }else{
      cartBtn.classList.remove('d-none')
    }
  })

</script>

<nav class="navbar navbar-success bg-light vh-10 p-3">
  <div class="container">
    <a class="navbar-brand" href="/">Cartopia</a>
    <div>
      <a type="button" id="cart" class="btn btn-dark position-relative me-3" href="/cart">
        Cart
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
         {{total_qty}}
        </span>
      </a>
      <button class="btn btn-outline-danger" type="submit" id="logoutBtn" onclick="handleLogout()">Logout</button>
    </div>
  </div>
</nav>
<script>
  const handleLogout = async () => {
    try {
      const response = await fetch("/api/auth/logout", {
        method: "GET",
        headers: {
          Authorization: `Bearer ${token}`
        }
      })
      const { detail } = await response.json()
      localStorage.clear()
      window.location.href = '/login'
    } catch (error) {
      console.log("Error:", error)
    }
  }
</script>